qubits-CUDA
*/*/*.txt
*.out
*.swp
*~
modules/*.o 

cuda
test_spins_fast
cpp/testing
cpp/test_rmt
cpp/test_spins
phasespace/wigner
phasespace/test


semiclassical/test
test_spins2d
external
CustomTicks.m
*.mod
*.o
*.bkp

cpp/basic_libs.tgz
cpp/test_spines
cpp/test_spins
cpp/test_spins_fast
cpp/doc
cpp/test_memory_time
cpp/test_rmt
cpp/test_spins2d
cpp/testing
cpp/test_dev_random
cpp/.DS_Store
cpp/CMakeLists.txt
cpp/tmp
cpp/cmake-build-debug
cpp/.idea
cpp/Icon
julia/.ipynb_checkpoints/
